<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FunctionalTesting">
  <test thread-count="5" name="Iteration1">
    <classes> 
      <class name="com.SupplierBackEnd.TestClassSupplier"/>
      <class name="com.AdminBackEnd.TestClassAdmin"/>
      <class name="com.AgentFrontEnd.TestClassAgent"/>
      <class name="com.CustomerFrontEnd.TestClassCustomer"/>
    </classes>
  </test> <!-- Iteration1 -->
</suite> <!-- FunctionalTesting -->
